
<ion-header>
  <ion-navbar style="height: 74px;" >
    <ion-title>Cobrar</ion-title>
  </ion-navbar>
</ion-header>
<!-- <div class="varDirection">
  <label for="">Transferencia QR(Cobrar-Pagar)</label>
</div> -->
<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>
      <ion-input type="text" placeholder="my QR data" [(ngModel)]="qrData" ></ion-input>

      <button ion-button block (click)="process()" >Cobrar</button>

    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card> -->


  <ion-grid class="grid-Encoder">
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">


              <ion-item no-lines class="banrural-select">
                <ion-label stacked text-wrap>
                  <div class="lbl-form" >Cuenta:</div>
                </ion-label>
                <ion-select [(ngModel)]="qrData.cuenta"  id="Select">
                  <ion-option value="123456789">Manuel Rivera</ion-option>
                  <ion-option value="654987321">Miguel Orozco</ion-option>
                  <ion-option value="789654213">Lisa Piedra Santa</ion-option>
                </ion-select>
              </ion-item>

              <ion-item no-lines class="banrural-select">
                <ion-label stacked text-wrap>
                  <div class="lbl-form" >Moneda:</div>
                </ion-label>
                <ion-select [(ngModel)]="qrData.moneda"  id="Select">
                  <ion-option value="GTQ">Quetzales</ion-option>
                  <ion-option value="USD">Dolar</ion-option>
                </ion-select>
              </ion-item>



                <ion-item class="input-especial" >
                  <ion-label  text-wrap stacked>
                    <div class="input-especial-titulo-input">
                      <p>Monto:</p>
                    </div>
                  </ion-label>
                  <ion-input class="input-especial-input" type="number" placeholder="Monto" [(ngModel)]="qrData.monto" ></ion-input>
                </ion-item>


                <ion-item class="input-especial" >
                  <ion-label  text-wrap stacked>
                    <div class="input-especial-titulo-input">
                      <p>Concepto:</p>
                    </div>
                  </ion-label>
                  <ion-input type="text" placeholder="Concepto" [(ngModel)]="qrData.concepto" ></ion-input>
                </ion-item>
              <div style="margin: 20px 0;">
                <button ion-button large (click)="cancel()" >Cancelar</button>
                <button ion-button large (click)="process()" >Aceptar</button>

              </div>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <div *ngIf="displayQrCode()">
                <ion-row>
                  <ion-col col-12 style="text-align: center;">
                    <img  [src]="qrcodeCreatedCode" />
                  </ion-col>
                  <ion-col col-6 style="text-align: center;">
                    <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="iconsAPP" style="font-size: 45px;" (click)="download()"></ion-icon>
                  </ion-col>
                  <ion-col col-6 style="text-align: center;">
                    <ion-icon ios="ios-share" md="md-share" class="iconsAPP" style="font-size: 45px;"></ion-icon>
                  </ion-col>
                </ion-row>
              </div>

              <div *ngIf="error">
                <label for="">{{error}}</label>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
