<!--
  Generated template for the TransferenciasqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="height: 74px;" class="navbar">
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<div class="varDirection">
  <label for="">Transferencia QR(Cobrar-Pagar)</label>
</div>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-barcode" md="md-barcode" class="iconsAPP" (click)="encoderqr()" ></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Cobrar</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-12 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-qr-scanner" md="md-qr-scanner" class="iconsAPP" (click)="pagarqr()"></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Pagar</label>
            </ion-col>
          </ion-row>      
        </ion-grid>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
