page-displaydataqr {

}

.title {
    font-size: medium !important;
    font-family: PoppinsBold;
    color: color($banrural, verde-obscuro);
    font-weight: bold;
}

.data-grid{
    text-align: left !important;
    border-bottom: 1px solid color($banrural, verde-claro);
}