<!--
  Generated template for the DisplaydataqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="height: 74px;" >
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title>Datos de Pago</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <label for="">{{textoJson}}</label> -->
  <ion-card *ngIf="!_stateError">
    <ion-card-header>
      <ion-label stacked text-wrap>
        <div style="text-align: center; font-size: 30px; color: #f78c22" *ngIf="!qrData.comercio">Transferencia QR</div>
        <div style="text-align: center; font-size: 30px; color: #f78c22" *ngIf="qrData.comercio">Pago a Comercios</div>
      </ion-label>
      <ion-label stacked text-wrap *ngIf="qrData.comercio">
        <div style="text-align: center; font-size: 20px; color: #f78c22">{{qrData.comercio}}</div>
      </ion-label>
      
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="">
        <ion-row>
          <ion-col col-12 >
            <!-- <ion-col col-6 style="text-align: center;"></ion-col> -->
    
            <label for="" class="title">Cuenta Destino: </label>
            <label for="" class="data-grid">{{qrData.cuenta}}</label>
          </ion-col>
          <ion-col col-12 *ngIf="qrData.monto">
            <label for="" class="title">Monto:</label>
            <label for="" class="data-grid">{{qrData.monto}}</label>
          </ion-col>
          <ion-col col-12 >
            <label for="" class="title">Moneda:</label>
            <label for="" class="data-grid">{{qrData.moneda}}</label>
          </ion-col>
          <ion-col col-12 >
            <label for="" class="title">Concepto:</label>
            <label for="" class="data-grid">{{qrData.concepto}}</label>
          </ion-col>
          <ion-col col-12 >
            <label for="" class="title">Codigo de verificacion:</label>
            <br>
            <label for="" class="data-grid">{{qrData.token}}</label>
          </ion-col>
          <ion-col col-12 *ngIf="!qrData.monto">
            <ion-item class="input-especial" style="padding: 0;">
              <ion-label  text-wrap stacked>
                <div class="input-especial-titulo-input">
                  <p>Monto:</p>
                </div>
              </ion-label>
              <ion-input class="input-especial-input" type="number" placeholder="Monto" [(ngModel)]="qrData.newMonto" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12 >
            <ion-item no-lines class="banrural-select" style="padding: 0;">
              <ion-label stacked text-wrap>
                <div class="lbl-form" style="font-weight: bold;" >Cuenta Origen:</div>
              </ion-label>
              <ion-select   id="Select">
                <ion-option value="123456789">Manuel Rivera</ion-option>
                <ion-option value="654987321">Miguel Orozco</ion-option>
                <ion-option value="789654213">Lisa Piedra Santa</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-12 >
            <button ion-button large (click)="return()"  style="width: 120px;">Cancelar</button>
            <button ion-button large (click)="return()" style="width: 120px;">Pagar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
