<!--
  Generated template for the PagoComercioqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="height: 74px;" class="navbar">
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-qr-scanner" md="md-qr-scanner" class="iconsAPP" (click)="scanerqr()"></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Scanear</label>
            </ion-col>
          </ion-row>      
        </ion-grid>
      </ion-col>
      <ion-col col-12 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-cloud-upload" class="iconsAPP" md="md-cloud-upload" (click)="decodeQRImage()" ></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Importar</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
