<!--
  Generated template for the ScanerqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title>Scaner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: none transparent;">
  <!-- <label for="" style="color: red; font-size: large;" >{{text}} </label> -->
  <div class="qrscanner-area">    
  </div>       
    <!-- <div style="align-items: center;" class="button-bottom">
      <button (click)="toggleLight()" ion-fab class="text-uppercase">
          <ion-icon name="flash"></ion-icon>                  
      </button>
      <button (click)="toggleCamera()" ion-fab class="text-uppercase">
          <ion-icon name="reverse-camera"></ion-icon>                  
      </button>
    </div> -->
  <ion-fab center bottom>
    <button (click)="barcodeScan()" ion-fab class="text-uppercase">
      <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
    </button>
  </ion-fab> 
</ion-content>
