.qrscanner {
    background:none;

    &-area {
        // border: 10px  yellow solid;
        width:100%;
        height:85%;
        background: url(../assets/imgs/scanner.svg) no-repeat center center;
        background-size: contain;
    }
}