page-home {
   
}
.toolbar-background {
    background-color: color($banrural, verde-obscuro);
}

.toolbar-title-ios {
    color: color($colors, light);
}

.iconsAPP {
    font-size: 75px;
    text-align: center;
}
.grid{
    height: 100%;
    justify-content: center;
}

.varDirection{
    color: color($colors, light);
    background-color: color($banrural, naranja);

    position: relative;
    top: 75px;
    z-index: 1;
    font-size: 20px;
    text-align: center;
}

.list-ios {
    margin: 11px 8px 11px 0;
}
.input-especial{
    &-titulo-input {
        text-align: left;
        p {
          font-size: medium !important;
          font-family: PoppinsBold;
          color: color($banrural, verde-obscuro);
        }
      }
    &-input {
        text-align: left !important;
        border-bottom: 1px solid color($banrural, verde-claro);
    }
}


.banrural-select {

    .lbl-form {
      //padding-left: 0 !important;
      font-size: medium !important;
      color: color($banrural, verde-obscuro) !important;
      font-family: PoppinsBold;
    }
  
    ion-item {
      border: none !important;
    }
  
    .bordeado {
      border-bottom: 1px solid color($banrural, verde-claro) !important;
    }
  
    .invalid {
      border-bottom: 1px solid color($colors, danger) !important;
    }
  
    .pre {
      white-space: pre !important;
    }
  
  }