<ion-header>
  <ion-navbar style="height: 74px;" class="navbar">
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title color="light" ></ion-title>
  </ion-navbar>
</ion-header>

<div class="varDirection">
  <label for="">Transferencia QR(Cobrar-Pagar)</label>
</div>
<ion-content padding >

  <!-- <h4> generar el codigo qr</h4> -->
  
  <!-- <div>
    <ion-input type="text" placeholder="my QR data" [(ngModel)]="qrData" ></ion-input>
    <button ion-button block (click)="scanerqr()" >Scan QR</button>
  </div> -->

  <!-- <ion-card>
    <ion-card-header>
      codigo qrcode
      <button ion-button block (click)="process()" >Encode</button>

    </ion-card-header>
    <ion-card-content>
      <p>value: {{ createdCode }}</p>
      <img *ngIf="displayQrCode()" [src]="qrcodeCreatedCode" />
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-6 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-barcode" md="md-barcode" class="iconsAPP" (click)="encoderqr()" ></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Cobrar</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-6 style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <ion-icon ios="ios-qr-scanner" md="md-qr-scanner" class="iconsAPP" (click)="scanerqr()"></ion-icon>
            </ion-col>
            <ion-col col-12 style="text-align: center;">
              <label for="" style="font-size: 20px;">Pagar</label>
            </ion-col>
          </ion-row>      
        </ion-grid>
      </ion-col>
    </ion-row>
    
  </ion-grid> -->

</ion-content>
